body{
  background-color: rgb(38, 38, 38);
}

header{
  border: 1px solid white;
  background-color: #ADD8E6;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

h1{
  font-size: 48px;
  font-family: Roboto;
  padding-bottom: 10px;
  color: #FFFFFF;
  background-color: black;
  display: flex;
  justify-content: center;
}

h2{
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  font-family: Franklin Gothic;
  font-style: italic;
}

h3{
  padding: 2px;
  display: flex;
  justify-content: center;
}

main{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 75px;
}

p{
  border: 1px solid white;
  background-color: #BA55D3;
  padding: 30px;
  font-family:Impact;
  font-style: italic;
.image1{
}

}