body{
  background-color: rgb(38, 38, 38);
}

h1{
  font-size: 48px;
  padding-bottom: 20px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

h2{
  display: flex;
  justify-content: center;
  padding: 20px;
}

h3{
  display: flex;
  justify-content: center;
}

main{
  width: 50%;
  margin-left: 26%;
  margin-right: 24%;
  padding-top: 100px;
}

p{
}